<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <bean id="blConfiguration" class="org.broadleafcommerce.common.config.RuntimeEnvironmentPropertiesConfigurer" />

    <!-- Set up Broadleaf messaging -->
    <bean id="messageSource" class="org.broadleafcommerce.common.util.BroadleafMergeResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
            </list>
        </property>
    </bean>
    
    <bean id="blCustomPersistenceHandlers" class="org.springframework.beans.factory.config.ListFactoryBean" scope="prototype">
        <property name="sourceList">
            <list>
                <bean class="org.test.CustomPersistenceHandler" />
                <ref bean="blPageTemplateCustomPersistenceHandler" />
                <ref bean="blStructuredContentTypeCustomPersistenceHandler"/>
                <ref bean="blTimeDTOCustomPersistenceHandler"/>
                <ref bean="blRequestDTOCustomPersistenceHandler"/>
            </list>
        </property>
    </bean>
    
    <!-- Set up custom entity overrides. These are defined in core/src/main/resources -->
    <bean id="blMergedEntityContexts" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <value>classpath:applicationContext-entity.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- Delete this bean to enable caching - leaving it on for development is recommended -->
    <!-- as it will allow changes made in the admin or directly on the database to be reflected -->
    <!-- immediately. However, caching is obviously beneficial in production. -->
    <bean id="blMergedCacheConfigLocations" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <value>classpath:bl-override-ehcache.xml</value>
            </list>
        </property>
    </bean>
    
    <!--  Broaldeaf Commerce comes with an Image Server that allows you to manipulate images.   For example, the 
          demo includes a high resolution image for each product that is reduced in size for browsing operations -->
    <bean id="blStaticMapNamedOperationComponent" class="org.broadleafcommerce.cms.file.service.operation.StaticMapNamedOperationComponent">
        <property name="namedOperations">
            <map>
                <entry key="browse">
                    <map>
                        <entry key="resize-width-amount" value="400"/>
                        <entry key="resize-height-amount" value="400"/>
                        <entry key="resize-high-quality" value="false"/>
                        <entry key="resize-maintain-aspect-ratio" value="true"/>
                        <entry key="resize-reduce-only" value="true"/>
                    </map>
                </entry> 
                <entry key="thumbnail">
                    <map>
                        <entry key="resize-width-amount" value="60"/>
                        <entry key="resize-height-amount" value="60"/>
                        <entry key="resize-high-quality" value="false"/>
                        <entry key="resize-maintain-aspect-ratio" value="true"/>
                        <entry key="resize-reduce-only" value="true"/>
                    </map>
                </entry>  
            </map>
        </property>
    </bean>    
    
     <bean id="blMergedPersistenceXmlLocations" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <value>classpath*:/META-INF/persistence-cms.xml</value>
            </list>
        </property>
    </bean>
    
    <bean id="blMergedDataSources" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
            <map>
                <entry key="jdbc/test" value-ref="blDS"/>
                <entry key="jdbc/testCMS" value-ref="blDS"/>
                <entry key="jdbc/testSecure" value-ref="blDS"/>
            </map>
        </property>
    </bean>
    
    <bean id="blContentRuleProcessors" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="blContentDefaultRuleProcessor"/>
            </list>
        </property>
    </bean>
    
    <bean id="blFulfillmentPricingProviders" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
               <ref bean="blFixedPriceFulfillmentPricingProvider" />
               <ref bean="blBandedFulfillmentPricingProvider" />
            </list>
        </property>
    </bean>
    
    <bean id="blPageRuleProcessors" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="blPageDefaultRuleProcessor"/>
            </list>
        </property>
    </bean>
    
    <bean id="blMergedClassTransformers" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="blAnnotationDirectCopyClassTransformer"/>
                <ref bean="blEntityMarkerClassTransformer"/>
                <ref bean="blConditionalFieldAnnotationClassTransformer"/>
            </list>
        </property>
    </bean>
    
    <bean id="blFieldMetadataProviders" class="org.broadleafcommerce.common.util.SortedListFactoryBean" scope="prototype">
        <property name="sourceList">
            <list>
                <ref bean="blCustomerUsernameFieldMetadataProvider"/>
            </list>
        </property>
    </bean>
    
    <bean id="blPersistenceProviders" class="org.broadleafcommerce.common.util.SortedListFactoryBean" scope="prototype">
        <property name="sourceList">
            <list>
                <ref bean="blHTMLFieldPersistenceProvider"/>
            </list>
        </property>
    </bean>
    
    <bean id="blPricingWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <ref bean="blOfferActivity" />                
                <ref bean="blConsolidateFulfillmentFeesActivity" />
                <ref bean="blFulfillmentItemPricingActivity" />                                       
                <ref bean="blFulfillmentGroupMerchandiseTotalActivity" />
                <ref bean="blFulfillmentGroupPricingActivity" />
                <ref bean="blShippingOfferActivity" />
                <ref bean="blTaxActivity" />
                <ref bean="blTotalActivity"/>
                <ref bean="blAdjustOrderPaymentsActivity"/>
            </list>
        </property>
    </bean>
    
    <bean id="blAddItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <ref bean="blValidateAddRequestActivity" />
                <ref bean="blCheckAddAvailabilityActivity" />
                <ref bean="blAddOrderItemActivity" />
                <ref bean="blAddFulfillmentGroupItemActivity" />
                <ref bean="blAddWorkflowPriceOrderIfNecessaryActivity" />
                <ref bean="blAddWorkflowVerifyFulfillmentGroupItemsActivity" />
            </list>
        </property>
    </bean>
    
    <bean id="blUpdateItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <ref bean="blValidateUpdateRequestActivity" />
                <ref bean="blCheckUpdateAvailabilityActivity" />
                <ref bean="blUpdateOrderItemActivity" />
                <ref bean="blUdateOrderMultishipOptionActivity" />
                <ref bean="blUpdateFulfillmentGroupItemActivity" />
                <ref bean="blUpdateWorkflowPriceOrderIfNecessaryActivity" />
                <ref bean="blUpdateWorkflowVerifyFulfillmentGroupItemsActivity" />
            </list>
        </property>
    </bean>
    
    <bean id="blRemoveItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <ref bean="blValidateRemoveRequestActivity" />
                <ref bean="blRemoveOrderMultishipOptionActivity" />
                <ref bean="blRemoveFulfillmentGroupItemActivity" />
                <ref bean="blRemoveOrderItemActivity" />
                <ref bean="blRemoveWorkflowPriceOrderIfNecessaryActivity" />
                <ref bean="blRemoveWorkflowVerifyFulfillmentGroupItemsActivity" />
            </list>
        </property>
    </bean>
    
    <bean id="blAdditionalSectionAuthorizations" class="org.springframework.beans.factory.config.ListFactoryBean" scope="prototype">
        <property name="sourceList">
            <list>
                <ref bean="blPolymorphicEntityCheckSectionAuthorization"/>
            </list>
        </property>
    </bean>
    
    <bean id="blTaxProviders" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="blSimpleTaxProvider" />
            </list>
        </property>
    </bean>
    
    <bean id="blAddressVerificationProviders" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="addressTestBean"/>
            </list>
        </property>
    </bean>
    
    <bean id="blRuleBuilderFieldServices" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="blOrderItemFieldService"/>
                <ref bean="blCustomerFieldService"/>
                <ref bean="blCategoryFieldService"/>
                <ref bean="blTimeFieldService"/>
                <ref bean="blRequestFieldService"/>
                <ref bean="blOrderFieldService"/>
                <ref bean="blFulfillmentGroupFieldService"/>
                <ref bean="blLocaleFieldService"/>
                <ref bean="blSkuFieldService"/>
                <ref bean="blProductFieldService"/>
            </list>
        </property>
    </bean>
    
    <bean id="blUpdateProductOptionsForItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <ref bean="blValidateUpdateProductOptionsRequestActivity" />
                <ref bean="blUpdateProductOptionsOrderItemActivity" />
            </list>
        </property>
    </bean>
    
    <bean id="blPersistenceUnitPostProcessors" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <bean class="org.broadleafcommerce.common.extensibility.jpa.JPAPropertiesPersistenceUnitPostProcessor"/>
                <bean class="org.broadleafcommerce.common.extensibility.jpa.ConditionalORMConfigPersistenceUnitPostProcessor"/>
            </list>
        </property>
    </bean>
    
    <bean id="blVariableExpressions" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <bean class="org.broadleafcommerce.common.web.expression.AssetURLVariableExpression" />
                <bean class="org.broadleafcommerce.common.web.expression.NullBroadleafVariableExpression" />
                <bean class="org.broadleafcommerce.common.web.expression.BRCVariableExpression" />                
                <bean class="org.broadleafcommerce.common.web.expression.PropertiesVariableExpression" />
                <bean class="org.broadleafcommerce.common.web.payment.expression.PaymentGatewayFieldVariableExpression"/>
            </list>
        </property>
    </bean>
</beans>
